html {
  font-family: "Helvetica Neue";
  background: white;
  padding: 1rem;
}

body {
  max-width: 100%;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue;
  color: #5f6368;
  margin: 1rem 0;
}

a {
  color: #5f6368;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: white;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: rgba(219, 136, 200, 0.7);
}

.centered-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-right h2 {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
}

.centered img {
  width: auto;
  border-radius: 50%;
}