<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Fairy Feet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/jpg" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/265/woman-fairy_1f9da-200d-2640-fe0f.png"/>
</head>
<body>
<div class="split left">
    <div class="centered-left">
        <h1>Project Fairy Feet 🧚‍♀️</h1>
        <h2>Taking the guesswork out of your skates purchase.</h2>
        <br><br>
            <a href="/contribute">Contribute</a> |  <a href="/">Find your skate size</a>
        <br><br><br><br>
        <div>
        <a href="https://www.instagram.com/chanelmilktea/">
            <img src="static/icon_watercolor.png"
                 alt="instagram icon"
                 width="auto"
                 height="50">
        </a>
        <br>
        <a href="https://www.instagram.com/chanelmilktea/">
            Follow me on Instagram for more updates!
        </a>
        </div>
    </div>
</div>

<div class="split right">
    <div class="centered-right">
    <h2>What's your shoe size?</h2>
    <br>
    <form action="results" method="POST">
    <p>
        <select name=sizes method="GET" action="/size">
        {% for size in sizes %}
        <option value= "{{size}}">{{ size }}</option>"
        {% endfor %}
        </select>
    </p>

    <p>
      <input type="radio" id="women" name="shoe_type" value="Women"><label for="women">Women</label>
      <input type="radio" id="men" name="shoe_type" value="Men"><label for="men">Men</label>
    </p>

    <p>
      <input type="radio" id="normal" name="shoe_width" value="Normal"><label for="normal">Normal</label>
      <input type="radio" id="narrow" name="shoe_width" value="Narrow"><label for="men">Narrow</label>
      <input type="radio" id="wide" name="shoe_width" value="Wide"><label for="men">Wide</label>
    </p>

    <p>
        <input type="submit" value="Submit" />
    </p>
</form>
    </div>
</div>




</body>
</html>